/* Clearing & Resetting */
* {
	margin: 0;
	padding: 0;
}

ul, ol {
	padding-left: 20px;
}

p {
	margin: 10px 5px;
}

/* Global styling */
button {
	padding: 5px;
	background: none;
	border: 1px solid white;
	min-width: 70px;
	color: white;
}

/* Global Re-usable */
.style-quote {
	font-style: italic;
}
.style-quote:before, .style-quote:after {
	content: '"';
}

.style-caption {
	font-style: italic;
	margin-top: 0;
}

.page-events ul {
	list-style: none;
}

.page-events li {
	padding: 10px 15px;
	margin: 5px;
	border: 1px solid white;
}

/* Specific */

body {
	background-color: #2b2b2b;
	color: white;
}

#wrapper {
	border: 1px solid white;
	margin: 0 auto;
	width: 80%;
	height: 700px;
	overflow: hidden;
}

#wrapper > div {
	padding: 10px;
}

#sect-stats, #sect-main, #sect-extra {
	float: left;
	border-right: 1px solid white; 
}
#sect-extra {
	border: none;
}

#inventory-equipment, #inventory-itemsList {
	float: left;
	padding: 5px;
	margin: 5px;
}

@media screen and (max-width: 1199px) {
	#sect-main, #sect-extra {
		border: 0px;
	}
	#sect-stats {
		width: 20%;	
		height: 100%;
	}
	#sect-main {
		width: 70%;	
	}
	#sect-extra {
		width: 70%;	
		border-top: 1px solid white;
	}	
}

@media screen and (min-width: 1200px) {
	#sect-stats {
		width: 20%;	
		height: 100%;
	}

	#sect-main {
		width: 50%;	
		height: 100%;
	}

	#sect-extra {
		width: 20%;	
		height: 100%;
	}	
}


#area-info {
	float: left;
}

#area-info > p {
	margin-left: 10px;
}

#area-info.portrait {
 margin-right: 20px;
}

#area-info.portrait > img {
	width: 150px;
	height: 150px;
	border: 1px solid white;
	margin: 10px;
	margin-top: 0;
}

#area-info.landscape {
	width: 100%;
	margin-bottom: 10px;
}

#area-info.landscape > img {
	width: 100%;
	height: 200px;
	border: 1px solid white;
	margin: 10px auto;
	margin-top: 0;
}