<!DOCTYPE html>
<html>
<head>
	<title>Thing</title>
	<link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
<div id="wrapper">
	<div id="navbar">
		
	</div>
	<div id="sect-stats">
		<ul>
			<li v-if="playerInfo.name == ''">A bleary-eyed pixie</li>
			<li v-if="playerInfo.name != ''">
				<span v-if="playerInfo.title">{{playerInfo.title}} </span>
				{{playerInfo.name}} {{playerInfo.race}}
			</li>
			<li>Level {{playerInfo.level}}</li>
			<li>XP: {{playerInfo.currXp}}/{{playerInfo.totalXp}}</li>
		</ul>
		<br>
		<ul>
			<li>Charm: {{playerInfo.stat_charm}}</li>
			<li>Deception: {{playerInfo.stat_deception}}</li>
			<li>Magic: {{playerInfo.stat_magic}}</li>
		</ul>
		<br>
		Active Quests:
		<ul>
			<li v-for="(questInfo, questKey) in playerInfo.quests_active">
				{{Quests[questKey].questName}}
			</li>
		</ul>
	</div>
	<div id="sect-main">
		<div id="main-textarea">
			<div id="area-info" 
					 class="portrait"
					 v-if="mainInfo.type == 'npc'">
				<img src="" />
				<p class="style-caption">{{ mainInfo.imgCaption }}</p>
			</div>
			<div id="main-text">
				<p v-if="mainInfo.type=='npc'" class="style-quote" id="greeting"> {{ mainInfo.greeting }} </p>
				<p>{{ mainInfo.mainDesc }}</p>

				<div class="page-events" v-if="(pageEvents) && (pageEvents.length != 0)">
					<ul>
						<li v-for="event in pageEvents">{{event.label}}</li>
					</ul>
				</div>

				<div id="tab-welcome" v-if="displayOptions.values.welcome">
					<form id="welcome-form">
						<input type="text" name="playerName">
						<button onclick="Game.saveForm('welcome-form')">That's me</button>
					</form>
				</div>
				<div id="tab-shop" v-if="displayOptions.values.shop">

				</div>
				<div id="tab-quest" v-if="displayOptions.values.quest">
					<ul>
						<li v-for="qAct in questActions">
								<a class="page-action" v-on:click="doAction(qAct.name, qAct.action, qAct.stage, qAct.param1)">{{qAct.label}}</a>
						</li>
					</ul>
				</div>
				<div id="tab-chat" v-if="displayOptions.values.chat">
					<ul>
						<li v-for="act in actions"><a v-on:click="doAction(act.name, act.action, act.stage)">{{act.label}}</a></li>
					</ul>
				</div>
				<div id="tab-inventory" v-if="displayOptions.values.inventory">
					<div id="inventory-equipment">
						<p>Equipment</p>
						<ul>
							<li v-for="(slotInfo, slotName) in playerInfo.equipment">
								{{Labels[slotName]}}: 
								<span v-if="slotInfo != ''">{{Items[slotInfo].name}}</span>
								<span v-else>None</span>
							</li>
						</ul>
					</div>
					<div id="inventory-itemsList">
						<p>
							Inventory
						</p>
						<ul>
							<li v-if="playerInfo.inventory.length == 0">You don't have anything in your inventory</li>
							<li v-for="item in playerInfo.inventory">
								{{Items[item].name}}
								<span v-if="Items[item].type == 'equipment'">
									<button v-on:click="equipItem(item)">Equip</button>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="sect-extra">
		<div id="extra-funfact" class="style-quote">
			{{ extraInfo.quote }}
		</div>
		<br>
		<button onclick="Player.savePlayer()">Save</button> 
		<button onclick="Player.loadPlayer();">Load</button> 
		<button onclick="Player.deletePlayer();">Clear</button>
		<br>
		<button onclick="vm.changeScreenMode('welcome')">Welcome</button> 
		<button onclick="vm.changeScreenMode('shop')">Shop</button> 
		<button onclick="vm.changeScreenMode('chat')">Chat</button> 
		<button onclick="vm.changeScreenMode('quest')">quest</button> 
		<br>
		<button onclick="vm.changeScreen('inventory')">inventory</button> 
		<br>
		<button onclick="Screen.changeNpc('felli')">Felli</button> 
		<button onclick="Screen.changeNpc('teak')">Teak</button> 
		<button onclick="Screen.changeNpc('pix')">Pix</button> 
		<br>
    <!-- <router-link to="/welcome">Go to welcome</router-link><br> -->
    <!-- <router-link to="/area">Go to area</router-link> -->
	</div>
</div>
	<script src="vue.js"></script>
	<!-- <script src="vue-router.js"></script> -->
	<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
	<!-- <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> -->
	<script src="vueStuff.js"></script>
	<script src="items.js"></script>
	<script src="npc.js"></script>
	<script src="player.js"></script>
	<script src="quests.js"></script>
	<script src="labels.js"></script>
	<script src="script.js"></script>
</body>
</html>